<!DOCTYPE html>
<html>
	<head>
		<title>Hello, world!</title>
	</head>
	<body>
		<h4>Hello from BottlePy!</h4>
		<p>This proof-of-concept application is written using Python's Bottle library for the sake of rapid prototyping.  It will ultimately be replaced by either Meteor.js or Haskell's Yesod.</p>
		<div>
			<h5>Strengths of Haskell/Yesod vs JavaScript/Meteor</h5>
			<table>
				<tr>
					<th>Haskell/Yesod</th>
					<th>JavaScript/Meteor</th>
				</tr>
				<tr>
					<td>
						<li>Speed: Haskell and Yesod are both at the upper end for performance.</li>
					 	<li>Clean code: Functional languages like Haskell are known for clean, maintainable and bug-free code.</li>
						<li>Power: Haskell is a lower-level language than JavaScript, so it offers more power to the developer.</li>
					</td>
					<td>
						<li>Rapid deployment: Meteor is designed for rapid deployment.</li>
						<li>Easy recruitment: Far more developers know JavaScript than Haskell.</li>
						<li>Design: Meteor is purpose-built for one-page design.  This is possible with Haskell/Yesod, but takes moderately more initial work, mainly on the client-side.</li>
						<li>Real-time: Real-time is native to Meteor.  It's easily doable with Haskell, but Meteor doesn't require any doing at all.</li>
					</td>
				</tr>
			</table>
		</div>
	</body>
</html>	
