<!DOCTYPE html>
<html>
<head>
	<title>Login Page</title>
</head>
<body>
	<p>%s</p>
	<div>
		<form method=POST action="/login">
			<input type=text name="username" placeholder="Username" />
			<input type=password name="password" placeholder="Password" />
			<input type=submit value="Submit" />
		</form>
	</div>
	<p><a href="/">Home</a></p>
</body>
</html>
