<!DOCTYPE html>
<html>
	<head>
		<title>POST page</title>
	</head>
	<body>
		<p>Your last post request had content: %s</p>
		<form method=POST action="/post">
			<input type=text name="content" placeholder="Enter data here" />
			<input type=submit value="Submit" />
		</form>
		<p><a href="/">Home</a></p>
	</body>
</html>
