<!DOCTYPE html>
<html>
	<head>
		<title>Viewing User</title>
	</head>
	<body>
		<p>You are currently viewing user %s.</p>
		<p><a href="/Daniel">View Example</a></p>
		<p><a href="/">Home</a></p>
	</body>
</html>
